*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
font-family: sans-serif;
color: rgb(0, 0, 0);
margin: 0;
padding: 0;
}

header{
    background-color: rgba(82, 107, 120, 0.467);
    padding: 30px 40px;
 }
 
 .logo img{
    height: 40px;
 }

 nav ul{
    list-style-type: none;
    display: flex;
 }

 nav li{
    margin: 30px;
  }

  nav a{
    text-decoration: none;
    color: black;
  }
  
  main{
    padding: 30px;
  }



.button{
background-color: bisque;
color: black;
border: none;
padding: none;

}

footer{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
    background-color: rgba(82, 107, 120, 0.467);
    color: black;
    padding: 20px;
    text-align: center;
}

.ropahombre, .ropamujer, .electrónica {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    flex-direction: row;

}

.login-body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}

.formulario{
display: flex;
justify-content: center;
align-items: center;
}

.formulario{
padding-left: 50px;
padding-right: 50px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
background-color: peru;
}

.formulario h1{
text-align: center;


}

.formulario form{
padding: 0 35px;
box-sizing: border-box;

}

form .Email
{
    position: relative;
    border-bottom: 2px solid grey;}

.recupero {
margin: 0, 0, 15px, 5px;
color: blue;


}

