*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
font-family: sans-serif;
color: rgb(0, 0, 0);
}

header{
    background-color: rgba(82, 107, 120, 0.467);
    padding: 30px 40px;
 }
 
 .logo img{
    height: 40px;
 }

 nav ul{
    list-style-type: none;
    display: flex;
 }

 nav li{
    margin: 30px;
  }

  nav a{
    text-decoration: none;
    color: black;
  }
  
  main{
    padding: 30px;
  }



.button{
background-color: bisque;
color: black;
border: none;
padding: none;

}

footer{
    background-color: rgba(82, 107, 120, 0.467);
    color: black;
    padding: 20px;
    text-align: center;
}

.ropahombre, .ropamujer, .electrónica {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    flex-direction: row;

}
